<ion-view title="">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" ng-click="appCtrl.toggleLeft()">
        <i class="fa fa-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon"
        ng-click="appCtrl.toggleFont()">
        <i class="fa fa-unsorted"></i>
      </button>
      <button class="button button-icon"
        ng-click="articleCtrl.share()">
         <i class="fa fa-location-arrow"></i>
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box active-slide="carouselCtrl.active"
    on-slide-changed="carouselCtrl.slide(index)"
    does-continue="false"
    auto-play="false">
    <ion-slide class="padding"
      bindonce="carouselCtrl.items"
      ng-repeat="item in carouselCtrl.items">
      <ion-content
        has-footer="true"
        overflow-scroll="true"
        ng-style="appCtrl.Config.config.style"
        class="padding" >
        <div class="article article-title" ng-bind-html="item.title"></div>
        <div class="article article-content">
          <div class="img-container widescreen">
            <img ng-src="{{item['article-link'].replace('www.pionline', 'stage.pionline')}}">
            <div class="caption" ng-show="item.credits">{{item.credits}}</div>
          </div>
          <div ng-bind-html="item.caption"></div>
        </div>
        <div class="article article-ending">-P&I</div>
        <div>&nbsp;</div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
  <ion-footer-bar class="bar bar-footer bar-balanced ad ad-wrapper">
    <div class="ad ad-banner" ng-repeat="ad in appCtrl.Ads.ads | filter:{type:'banner'}">
      <img ng-src="data:image/{{ad.format}};base64,{{ad.data}}" ng-click="articleCtrl.adClick($event, ad)">
    </div>
  </ion-footer-bar>
</ion-view>