<ion-view title="">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" ng-click="appCtrl.toggleLeft()">
        <i class="fa fa-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon"
        ng-class="{ active: !articleCtrl.isSaved(carouselCtrl.current) }"
        ng-click="articleCtrl.toggleSave(carouselCtrl.current)">
        <i class="fa fa-heart"></i>
      </button>
      <button class="button button-icon"
        ng-click="appCtrl.toggleFont()">
        <i class="fa fa-unsorted"></i>
      </button>
      <button class="button button-icon"
        ng-click="articleCtrl.share()">
         <i class="fa fa-location-arrow"></i>
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box
    show-pager="false"
    active-slide="carouselCtrl.active"
    on-slide-changed="carouselCtrl.slide(index)">
    <ion-slide class="padding"
      bindonce="carouselCtrl.items"
      ng-repeat="item in carouselCtrl.items">
     <ion-content
        has-footer="true"
        overflow-scroll="true"
        ng-style="appCtrl.Config.config.style"
        class="padding" >
        <div class="article article-title" ng-bind-html="item.title"></div>
        <div class="article article-byline">BY <span ng-click="articleCtrl.emailClick($event, item)" ng-bind-html="item.bylineFormat"></span></div>
        <div class="article article-published">{{item.publishedFormat}}</div>
        <div class="article article-content" ng-bind-html="item.content.replace('www.pionline', 'stage.pionline')"></div>
        <div class="article article-ending">P&I-</div>
        <div>&nbsp;</div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
  <ion-footer-bar class="bar-balanced ad ad-wrapper">
    <div class="ad ad-banner" ng-repeat="ad in appCtrl.Ads.ads | filter:{type:'banner'}">
      <img ng-src="data:image/{{ad.format}};base64,{{ad.data}}" ng-click="articleCtrl.adClick($event, ad)">
    </div>
  </ion-footer-bar>
</ion-view>