<ion-view title="{{listCtrl.title}}">
  <ion-nav-bar class="bar bar-header bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="appCtrl.toggleLeft()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="appCtrl.online && listCtrl.items.length && appCtrl.$state.current.name === 'main.tabs.latest'">
      <ion-refresher
        on-refresh="listCtrl.refresh()"
        pulling-text="Release to refresh..."
        pulling-icon="fa fa-sort-desc"
        refreshing-icon=""
        refreshing-text=""
        ng-show="appCtrl.online">
      </ion-refresher>
    </div>

    <div ng-show="!appCtrl.online" class="item-divider offline-text">
      P&I News is currently offline
    </div>

    <div ng-if="appCtrl.online">
      <div ng-show="listCtrl.refreshing || listCtrl.refreshing"
        animation="slide-up-down"
        class="item item-divider refresh-text">
        <i class="fa fa-spin fa-circle-o-notch"></i>
        <span>Updating...</span>
      </div>
      <div ng-if="!listCtrl.items.length">
        <button ng-if="appCtrl.$state.current.name  !== 'main.tabs.saved'"
          class="button button-block button-light button-offline">
            Unable to connect. Please try again later
        </button>
      </div>
      <div ng-if="listCtrl.items.length">
        <ion-list>
          <ion-item
            bindonce="listCtrl.items"
            ng-repeat="item in listCtrl.items"
            ng-click="listCtrl.loadCarousel($index)">
            <div ng-class="{'item-thumbnail-left': item.image}" class="item-article" href="#">
              <!-- slideshows -->
              <img ng-if="item.image[1]"
                ng-src="{{item.image[0]['thumbnail-link'].replace('www.', 'stage.')}}">
              <!-- image not embedded -->
              <img ng-if="item.image && !item.image[1]"
                ng-src="{{item.image['thumbnail-link'].replace('www.', 'stage.')}}">
              <h2 class="list-title" ng-show="item.title" ng-bind-html="item.title"></h2>
              <p class="list-summary" ng-show="item.summary" ng-bind-html="item.summary"></p>
              <p class="list-byline" ng-bind-html="item.publishedFormat"></p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div ng-if="!appCtrl.online">
      <div ng-switch on="appCtrl.$state.current.name">
        <div ng-switch-when="main.tabs.slideshows">
          <button class="button button-block button-light button-offline">
            Slideshows not available in offline mode
          </button>
        </div>
        <div ng-switch-when="main.tabs.charts">
          <button class="button button-block button-light button-offline">
            Charts not available in offline mode
          </button>
        </div>
        <div ng-switch-default>
          <div ng-if="!listCtrl.items.length">
            <button class="button button-block button-light button-offline">
              Unable to connect. Please try again later
            </button>
          </div>
          <div ng-if="listCtrl.items.length">
            <ion-list>
              <div ng-show="articleCtrl.refreshing || appCtrl.refreshing"
                animation="slide-up-down"
                class="item item-divider refresh-text">
                <i class="fa fa-spin fa-circle-o-notch"></i>
                <span>Updating...</span>
              </div>
              <ion-item
                bindonce="listCtrl.items"
                ng-repeat="item in listCtrl.items"
                ng-click="listCtrl.loadCarousel($index)">
                <div class="item-article" href="#">
                  <h2 class="list-title" ng-show="item.title" ng-bind-html="item.title"></h2>
                  <p class="list-summary" ng-show="item.summary" ng-bind-html="item.summary"></p>
                  <p class="list-byline" ng-bind-html="item.publishedFormat"></p>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>