<div class="modal" ng-controller="SettingsController as settingsCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title"></h1>
    <button class="button button-clear button-primary"
      ng-click="settingsCtrl.Modal.contactModal.hide();">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text"
          ng-model="settingsCtrl.User.user.contactFormName"
          placeholder="Your Name">
      </label>
      <label class="item item-input">
        <input type="text"
          ng-model="settingsCtrl.contactFormCompany"
          placeholder="Your Company">
      </label>
      <label class="item item-input">
        <input type="text"
          ng-model="settingsCtrl.User.user.contactFormEmail"
          ng-disabled="settingsCtrl.User.user.contactFormEmail"
          placeholder="Your Email">
      </label>
      <label class="item item-input">
        <textarea rows="5"
          ng-model="settingsCtrl.contactFormMessage"
          placeholder="Message"></textarea>
      </label>
      <div class="padding">
        If your message requires a response, please allow us 1-2 business days to reply. Name and email are required.
      </div>
    </div>
    <label class="padding">
      <div class="button-bar padding">
        <a class="button button-positive" ng-click="settingsCtrl.submitContactForm()">Submit
          <span ng-if="settingsCtrl.submitting">
            <i class="fa fa-spin fa-circle-o-notch"></i>
          </span>
        </a>
      </div>
    </label>
  </ion-content>
</div>