<ion-tabs class="tabs-item-hide">
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="latest-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="sections-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="charts-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="slideshows-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="saved-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="search-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab>
    <ion-nav-view animation="slide-left-right" name="settings-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>